*{
    font-weight: bold;
    font-family: cursive;
  }
  
  .slider img {
    padding-top: 70px;
    width: 100%;
    background-image: cover;
    padding-right: 80px;
    padding-right: 125px;
    height: 701px;
    
   
  }
  
  .slider ul{
    display: flex;
    flex-direction: row;
  
  }